@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');








header{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}


/* --------------------------------------------------------------------------------------------------------------------- */

/* navbar */
.navbar-expand-lg .navbar-collapse 
{
margin-left: 450px;
margin-right: 300px;

}
.nav-item {
margin-right: 1cm;}


.nav-item a{
    font-size: 13pt;
    color: white;
 

}



.container-fluid {
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #6b3df5;

}
.navbar-toggler:hover {
    background-color: white;
    border: none;

}

#acaoum a {
    color: #6b3df5; 
    text-decoration: none;
}

#acaoum  {
    background-color: #ffffff;
    color: #6b3df5;
    border: none;
    margin: 2px;
    text-decoration: none;
}


#acaoum a:hover {
color: black;

}



/* fotos e imagem e icones */
.content{
    margin-bottom: 3cm;
    margin-top: 3cm;
    display: grid;
    grid-template-columns: auto auto auto ;
  gap: 10px;
}
.imagem img{
	width: 100%;
	border-radius: 50%;
	padding: 10px;
    border: solid white 40px;
    background-color: #6b3df5;
    box-shadow: 0 0 0 10px #6b3df5 , 0 0 0 60px #6b3df5,
	0 0 0 60px white, 0 0 0 300px white;
   width: 250px;
    height: 250px;
}

.container-titulo h1 {
	color: #191414;
	font-size: 60pt;
	font-family: "Nanum Myeongjo",  normal; }

.container-titulo p{
		color: #191414;
		font-size: 20pt;
		font-family: "Lugrasimo",  normal;}
.container-button a{
    color: #ffffff;       
    text-decoration: none;
    font-size: 10pt;
    cursor: pointer;
    font-family: "Nanum Myeongjo",  normal;}

	.container-button {
			
        background-color: #6b3df5;
        border-radius: 2px;
        padding: 10px 15px;
        
        }

        .container-button a:hover{
            color: #191414;
        }
        .container-logo a{
            margin-right: 10px;
            text-decoration: none;
            
        }
        
        .container-logo i{
            display: flex;
            font-size: 20pt;
            cursor: pointer;
            transition: transform 0.3s ease;
        
            
        }
        
        
        .container-logo i:hover{
            transform: translateY(-5px); /* Subir 5 pixels quando o mouse passar por cima */
        
            
        }


        /* principal*/ 


#texto-primeiro{
text-align: center;
color: #000;
font-size: 20pt;
padding: 20px;
width: 100%;
 margin-right: 3px;	


}

#texto-primeiro p{

	margin-top: 0px;
	margin-left: 0px;
	padding: 1px;
}

.container {
    display: grid; 
    grid-template-columns: auto auto auto ;
    gap: 10px;
	
  }

  .quadro-branco {
    padding: 10px;
    background-color: white;
    margin-right: 20px; /* Espaçamento entre os quadros brancos */
	box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.9);


  }	

  .quadro-branco p{
	margin-top: 30px;
	color: #9c9595;
	font-size: 14pt;
	font-family: "Nanum Myeongjo",  normal; 
	text-align: center;

  }

  .quadro-branco i{

	color: #6b3df5;
	font-size: 30pt;
	

}
#quadro-titulo{

	font-size: 18pt;
	font-family: "Nanum Myeongjo",  normal; 
	color: #000;

}
.quadro-branco button{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 12pt;
    background-color: #6b3df5;
    padding: 10px;
    border: none;
    margin: 30px;
    cursor: pointer;
    font-family: "Nanum Myeongjo",  normal;




}
.quadro-branco button:hover{
	color: #191414;
}


  /*  as imagens */

  .container p{
	color: #555555;
	font-family: "Nanum Myeongjo",  normal;
  }

  .container b{

	color: #000;
	font-size: 16pt;
	font-family: "Nanum Myeongjo",  normal;
	
  }

  .imagem-com-texto {
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
	
  }
  .imagem-com-texto:hover {
    transform: scale(1.1); /* Aumenta a escala da imagem quando o mouse passa sobre ela */
  }

  #container-conversar{
    display: flex;
    justify-content: space-between;
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-left: 300px;
    margin-right: 300px;
  }


  #container-conversar p{
    font-size: 20pt;
    font-family: "Nanum Myeongjo",  normal;
}

#container-conversar button{
   background-color: #6b3df5;
    border-radius: 3px;
    padding: 12px 50px;
    box-shadow: 0px 0px 10px 0px   rgba(255, 255, 255, 0.9);


}

#container-conversar button a{

color: #ffffff;
text-decoration: none;
font-size: 12pt;
cursor: pointer;
font-family: "Nanum Myeongjo",  normal;

}
/* footer */
footer{
    background-color: #6b3df5;
    box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.9);
    margin-top: 1cm;
    text-align: center;





}

.container-rodape{
    display: grid; 
    grid-template-columns: auto auto auto ;
    gap: 10px;
    padding: 30px;
}


.container-rodape a{
    text-decoration: none;
	color: #ffffff

}

.container-rodape a:hover{
    color: #191414;

   

}

.nome a{ 
	margin-right: 10px;
}

.rodapes a{
	margin-right: 8px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.rodapes i{
	
	cursor: pointer;
	transition: transform 0.3s ease;
}

.rodapes i:hover{
	transform: translateY(-5px); /* Subir 5 pixels quando o mouse passar por cima */
	
}

#copy{
	color: #ffffff;
    font-size: 10pt;
    margin-right: 2cm;
    margin-top: 1cm;
    height: 5vh;
}
	


/* --------------------------------------------------------------------------------------------------------------------- */

  




@media only screen and (max-width: 700px) {
 body{
    margin: 0;
    padding: 0;
 }

 .navbar-expand-lg .navbar-collapse 
{
margin-left: 0px;
margin-right: 0px;


}

.content{
  
    grid-template-columns: none ;
}
.container-titulo{
    margin-top: 3cm;

    }

    .container-logo {
     margin-top: 2cm;
        
    }

    .container-logo i{
       flex-direction: column;
       display: inline;
    
        
    }


    .container {
        grid-template-columns: none ;
        
      }


      .quadro-branco {
       width: 85vw;
    
    
      }	

      
  #container-conversar{
    flex-direction: column;   
    justify-content: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  #container-conversar button{
    margin-top: 1cm;
   
 
 
 }

 .container-rodape{
    grid-template-columns: none ;


}


footer{
    
    margin-top: 0cm;

}


#copy{
      
    margin-right: 0;
}
}



